<div class="col mb-4">
    <div class="card text-center bg-light shadow-sm align-items-center">
        <img src="{{ product.image }}" class="card-img-top" alt="{{ product.name }}">
        <div class="card-body">
            <h5 class="card-title">{{ product.name }}</h5>
            <p class="card-text">
                {{ product.description }}
            </p>
            <small class="text-muted">{{ product.stock }} db van raktáron</small>
            <h4 class="my-3">{{ product.price }} Ft</h4>
            <a href="#" class="btn btn-info">Megnézem</a>
        </div>
    </div>
</div>

