* {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
    border-radius: 10px;
}