.navbar-brand {
    color: var(--black);
    
    &:hover {
        color: var(--secondary);
    }
}

.nav-item {
    vertical-align: top;

}

.nav-link {
    color: var(--white);
    
    &:hover {
        color: var(--secondary);
    }
}